
 
 body {
    background-image: url('https://img.freepik.com/vector-gratis/escena-camino-paso-cebra-autos_1308-33146.jpg?t=st=1723220975~exp=1723224575~hmac=d6034211e49ee17bd82c12a4f2112f4ec59b4d9c1f00a6f2a20ce89005c20878&w=826');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
 .traffic-light {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    height: 250px;
    

 }
.light {
    width: 60px;
    height: 60px;
    margin: 10px 0;
    border-radius: 50%;
   cursor: pointer;
     opacity: 0.3; 
}
   
.light.red {
    background-color: red;
}
.light.yellow {
    background-color:yellow;
}
.light.green {
    background-color:green;
}
.light.active { 
    opacity: 3;

}
.active{
    box-shadow: 0px 0px 50px 30px #cd07ffaf;
}
